<div class="container">
  <!-- Note menu -->
  
  <!-- Note content -->
  <div class="row" style="margin-top: 28px;">
    <!-- Notebooks Menu -->
    <div class="col-md-3">
      <ul>
          <li>
            <a class="nav-link" [routerLink]="['/addtask']" routerLinkActive="router-link-active" >Add Task</a>
          </li>
          <li>
            <a class="nav-link" [routerLink]="['/edittask']" routerLinkActive="router-link-active" >Edit Task</a>
          </li>                  
      </ul>
    </div>

  </div>
</div>